<div class="stuff">
  <a href="/categories/<%=@gif.category_id%>">
    <img class="back_btn" src="/back.png" />
  </a>

  <div class="gif">
    <div><img class="inner_img" src="<%=@gif.url%>"></div>
    <h2 class="gif_caption"><%=@gif.caption%></h2>
  </div>

  <%if @gif.user_id == current_user.id%>
    <a href="/gifs/<%= @gif.id %>/edit" class="edit_gif_link">Edit</a>
  <%end%>

  <div id="comment_new">
    <form class="new_comment" action="/comments" method="POST">
      <input class="string"type="hidden" name="comment[user_id]" value="<%= @user_id %>">
      <input class="string"type="hidden" name="comment[gif_id]" value="<%= @gif_id %>">
      <textarea class="string"name="comment[content]" placeholder="comment"></textarea>
      <br>
      <input class="add_comment_btn btn" type="submit">
    </form>
  </div>

  <div class="comment_loader">
    <a class="btn lil_button padding comment_btn" href="/gifs/<%=@gif.id%>/comments">Comments</a>
  </div>
</div>